{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
     "plugin:react/recommended"
  ],
  "env": {
      "browser": true
  },
  "rules": {
    "no-console": "off",
    "no-trailing-spaces": "error",
    "comma-dangle": ["error", "never"],
    "no-extra-parens": "error",
    "curly": ["error", "all"],
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-div-regex": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-implied-eval": "error",
    "no-implicit-globals": "error",
    "no-invalid-this": "error",
    "no-labels": "error",
    "no-iterator": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-with": "error",
    "require-await": "error",    
    "wrap-iife": "error",
    "yoda": "error",
    "no-undef-init": "error",
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false,
      "variables": true
    }]
  }
}